html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #281e2d;
}

#app {
  width: 100% !important;
  height: 100% !important;
}

body {
  font-family: 'Noticia Text', serif;
}

.mainDiv {
  height: 100%;
  
}

.container {
  flex: auto;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  padding: 20px 0;
  font-family: 'Noticia Text', serif;

}

