html,
body,
#root,
.mainDiv,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  /* margin: 0; */
  background-image:url('./audio/lightgrey.jpg');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

h1 {
  font-family: 'Unica One', cursive;
  text-align: center;
color: #39FF14
}

.container {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  /* background-color: rgb(205, 255, 223); */
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  color: rgba(208, 224, 237, 0.809);
  padding-bottom: 20px;
}

h1 {
  font-size: 80px;
  text-shadow: 2px 2px #1f2c19;

}

.interaction {
  text-shadow: 2px 2px #324b72;

}

p {
  text-align: center;
  padding-bottom: 20px;
}

.card {

  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: rgba(208, 224, 237, 0.809);
  background-color: rgba(88, 111, 124, 0.75);
  border-style: solid;
  border-radius: 10px;
  border-width: 5px; 
  border-color:rgba(208, 224, 237, 0.809);
}

.info {
  min-width: 5000px;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  color: rgba(208, 224, 237, 0.809);
  font-size: 240px;
  display: block;
  flex-direction:row; 
  color: rgba(208, 224, 237, 0.809);
  background-color: rgba(88, 111, 124, 0.75);
  border-style: solid;
  border-radius: 50px;
  border-width: 30px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 0px;
   
  border-color:rgba(208, 224, 237, 0.809);

}

.soundcredit {
  font-size:220px;
  min-width: 5000px;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  color: rgba(208, 224, 237, 0.809);
  display: block;
  flex-direction:row; 
  box-shadow: 5px 5px 15px rgbrgba(138, 117, 173, 0.5);
  border-radius: 30px;

}

