html,
body,
#root,
.mainDiv,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  /* margin: 0; */
  background-image:url('./audio/Waves\,\ Sky\,\ Kawakawa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  font-family: 'Noticia Text', serif;
}

.container {
  width: 20%;
  margin: 0 auto;
  padding: 20px 0;
  font-family: 'Noticia Text', serif;
  color: rgb(184, 147, 219);
  text-align: center;
  background-color: rgba(138, 117, 173, 0.5);
}

.info {
  font-family: 'Noticia Text', serif;
  color: rgb(184, 147, 219);
  font-size: 200px;
}

