html,
body,
#root,
.mainDiv,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  /* margin: 0; */
  background-image:url('./audio/Waves\,\ Sky\,\ Kawakawa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  font-family: 'Noticia Text', serif;
}

.container {
  width: 20%;
  margin: 0 auto;
  padding: 8px;
  font-family: 'Noticia Text', serif;
  color: rgba(208, 224, 237, 0.809);
  text-align: center;
  background-color: rgba(190, 157, 129, 0.75);
  border-radius: 10px;

}

.info {
  min-width: 5000px;
  height: 100%;
  font-family: 'Noticia Text', serif;
  color: rgba(208, 224, 237, 0.809);
  font-size: 240px;
  display: block;
  flex-direction:row; 
  background-color: rgba(82, 124, 159, 0.811);
  box-shadow: 5px 5px 15px rgbrgba(138, 117, 173, 0.5);
  padding: 0 60px;
  border-radius: 30px;

}

.soundcredit {
  font-size:220px;
  min-width: 5000px;
  height: 100%;
  font-family: 'Noticia Text', serif;
  color: rgba(208, 224, 237, 0.809);
  display: block;
  flex-direction:row; 
  box-shadow: 5px 5px 15px rgbrgba(138, 117, 173, 0.5);
  border-radius: 30px;

}

